In [1]:
import pandas as pd

In [3]:
X = pd.read_csv("../data/raw/NHANESI_X.csv")
Y = pd.read_csv("../data/raw/NHANESI_Y.csv")

In [21]:
Y['Unnamed: 0']

0        20751
1        20753
2        20754
3        20755
4        20756
         ...
14259    25043
14260    25046
14261    25049
14262    25057
14263    25061
Name: Unnamed: 0, Length: 14264, dtype: int64

In [14]:
Y

       Unnamed: 0          y
0           20751 -16.916667
1           20753 -17.166667
2           20754 -17.666667
3           20755 -17.250000
4           20756 -17.083333
...           ...        ...
14259       25043 -17.000000
14260       25046 -17.083333
14261       25049 -17.083333
14262       25057 -17.083333
14263       25061 -17.083333

[14264 rows x 2 columns]

In [24]:
X.merge(Y,on='Unnamed: 0', how='left')

,Unnamed: 0,sex_isFemale,age,physical_activity,serum_albumin,alkaline_phosphatase,alkaline_phosphatase_isUnacceptable,alkaline_phosphatase_isTestnotdone,SGOT,SGOT_isUnacceptable,...,urine_hematest_isBlankbutapplicable,sedimentation_rate,sedimentation_rate_isBlankbutapplicable,uric_acid,uric_acid_isUnacceptable,uric_acid_isTestnotdone,systolic_blood_pressure,pulse_pressure,bmi,y
0,20751,False,51,3,NaN,85.0,False,False,NaN,True,...,False,NaN,False,6.2,False,False,110.0,40.0,25.406803,-16.916667
1,20753,False,41,2,NaN,68.0,False,False,2.27,False,...,False,NaN,False,7.7,False,False,136.0,54.0,24.588331,-17.166667
2,20754,True,31,2,NaN,61.0,False,False,1.86,False,...,False,NaN,False,4.9,False,False,110.0,24.0,23.756502,-17.666667
3,20755,False,48,2,NaN,58.0,False,False,NaN,True,...,False,NaN,False,8.4,False,False,126.0,36.0,28.610011,-17.250000
4,20756,True,29,3,NaN,37.0,False,False,1.69,False,...,False,NaN,False,4.3,False,False,98.0,36.0,19.216489,-17.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14259,25043,True,63,2,NaN,86.0,False,False,2.24,False,...,False,NaN,False,7.2,False,False,150.0,65.0,35.425033,-17.000000
14260,25046,True,56,2,NaN,65.0,False,False,2.31,False,...,False,NaN,False,5.1,False,False,98.0,38.0,22.069132,-17.083333
14261,25049,True,47,2,NaN,46.0,False,False,1.93,False,...,False,NaN,False,3.2,False,False,108.0,28.0,17.915199,-17.083333
14262,25057,True,61,8,NaN,75.0,False,False,2.29,False,...,False,NaN,False,6.8,False,False,180.0,68.0,27.331622,-17.083333
14263,25061,False,29,3,NaN,84.0,False,False,3.02,False,...,False,NaN,False,6.1,False,False,152.0,60.0,33.161435,-17.083333

In [25]:
len(X)

14264

In [ ]:
d = []
p = 0
j = 0
for i in range(X):
    j = j + 500
    p =